---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "code": "API_KEY_MISSING",
            "message": "No api_key was supplied. Get one at https://developer.nrel.gov/signup/"
          }
        }
  recorded_at: Wed, 28 Mar 2018 16:20:53 GMT
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json/api_key=<nrel_api_key>&fuel_type=ELEC,LPG&distance=6&location=80203&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "code": "API_KEY_MISSING",
            "message": "No api_key was supplied. Get one at https://developer.nrel.gov/signup/"
          }
        }
  recorded_at: Wed, 28 Mar 2018 16:23:16 GMT
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=<nrel_api_key>&distance=6&fuel_type=ELEC,LPG&limit=10&location=80203
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '988'
      Last-Modified:
      - Wed, 28 Mar 2018 16:27:01 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.731179,"longitude":-104.982637,"precision":{"value":5,"name":"postal_code","types":["postal_code"]},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":84,"station_counts":{"total":208,"fuels":{"BD":{"total":0},"E85":{"total":0},"ELEC":{"total":202,"stations":{"total":78}},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":0},"LPG":{"total":6}}},"offset":0,"fuel_stations":[{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2018-03-28","expected_date":null,"fuel_type_code":"ELEC","id":66897,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"UDR","station_phone":"888-758-4389","updated_at":"2018-03-28T08:51:26Z","geocode_status":"GPS","latitude":39.7300224,"longitude":-104.9883424,"city":"Denver","intersection_directions":"816
        ACOMA 1; For residents only - 5th Floor","plus4":null,"state":"CO","street_address":"800
        Acoma St","zip":"80204","country":"US","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"hy_is_retail":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:118249"]},"distance":0.31422,"distance_km":0.50569},{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2018-03-28","expected_date":null,"fuel_type_code":"ELEC","id":85932,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"PUBLIC
        STATIONS","station_phone":"888-758-4389","updated_at":"2018-03-28T08:51:26Z","geocode_status":"GPS","latitude":39.7360835,"longitude":-104.9881709,"city":"Denver","intersection_directions":"CULTURAL
        CT[...]
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?action=index&api_key=<nrel_api_key>&commit=Locate&controller=search&distance=6&fuel_type=ELEC,LPG&limit=10&location=80203&utf8=%E2%9C%93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remainin[...]
